body {
    
}
.centered {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: red;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;       
}